<a href="https://colab.research.google.com/github/circlenose/the_python_programming-bookk-/blob/main/02_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC_%EC%97%B0%EC%82%B0%EC%9E%90_2%EC%A0%88_%ED%99%94%EB%A9%B4_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2절. 화면 입출력

### 2.1 사용자 입력

- input() 함수 : 프로그램 실행 시 사용자의 입력을 받기 위해 사용
- input() 함수를 이용해 입력받은 데이터의 유형은 문자열(str)
- int() 함수 : 인수를 정수로 변환
- 연산을 위해 input() 함수로 입력받은 문자열 데이터를 int() 함수로 정수 데이터로 변환

In [2]:
# 데이터를 입력받기 위한 프롬프트 메세지 지정하기

read_message = input('prompt_message')

prompt_message야호

In [3]:
# 두 수를 입력받아 두 수의 합 출력하기(1)

first_number = input('첫 번째 숫자: ')
second_number = input('두 번째 숫자: ')

print(int(first_number) + int(second_number))

첫 번째 숫자: 20
두 번째 숫자: 30
50

In [4]:
# 두 수를 입력받아 두 수의 합 출력하기(2)

first_number = int(input('첫 번째 숫자: '))
second_number = int(input('두 번째 숫자: '))

print(first_number + second_number)

첫 번째 숫자: 20
두 번째 숫자: 30
50

### 2.2 화면으로의 출력 : print()

- print() 함수 : 출력하려는 값들을 공백으로 구분하여 출력
- print() 함수의 키워드 매개변수
    - sep(구분자) : 출력되는 문자열들의 구분자 지정, 기본값은 공백(' ')
    - end (라인 끝 문자) : 행의 마지막에 포함될 문자 지정, 기본값은 개행(\n)
    - file(출력 대상)

In [5]:
# sep 속성을 이용해 데이터 연결 문자 지정하기

print('Hello', 'World')

print('Hello', 'World', sep=',')

Hello World
Hello,World

In [7]:
# end 속성을 이용해 데이터 출력 후 행의 마지막에 포함될 문자 지정하기

print('Hello')
print('World')

print('Hello', end='\t').  # \t(tab) : 다음 8번째 위치에 문자 표시, 탭문자 앞의 문자가 8자를 넘어서면 16번째 위치에 다음 문자 표시
print('World')

Hello
World
Hello	World