<a href="https://colab.research.google.com/github/circlenose/the_python_programming-bookk-/blob/main/02_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC_%EC%97%B0%EC%82%B0%EC%9E%90_3%EC%A0%88_%EA%B8%B0%EB%B3%B8_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 3절. 기본 자료형

- 자료형data type : 프로그래밍 언어에서 정수int, 실수float, 논리bool 등 여러 유형의 자료 중에서 어떤 유형의 값을 가질 수 있는지에 대해 알려주는 속성
- 자료형으로 인해 변수에 저장할 수 있는 값의 범위(또는 크기)와 값을 저장하는 방식, 해당 자료형을 이용해 수행할 수 있는 명령들이이 달라짐
- 파이썬은 자료형 개념을 포함하고 있으나, 변수 선언 시 자료형을 지정하는 키워드가 존재하지 않음
- 파이썬 기본 자료형 : 숫자형 / 문자형 / 논리형

### 3.1 숫자형

- 파이썬 숫자형 :
    - 정수int : 소수점이 없는 숫자, 3.x 버전에서는 2.x 버전에 있었던 long 형이 없어지고 모든 정수를 int형으로 인식
    - 실수float : 소수점이 있는 숫자
    - 복소수complex : 제곱해서 -1이 되는 허수를 포함, 허수 표현을 위해 문자 j 사용

**1) 정수**

- 정수 수 체계 :
    - 양의 정수
    - 0
    - 음의 정수

In [ ]:
# 파이썬 3.x 버전에서 8바이트(64비트)로 양의 정수 저장시 최댓값 확인하기

import sys
sys.maxsize

9223372036854775807

In [ ]:
# sys.maxsize의 자료형 확인하기

type(sys.maxsize)

int

In [ ]:
# sys.maxsize+1의 자료형 확인하기

type(sys.maxsize+1)

int

In [ ]:
# 정수 10의 자료형 확인하기

type(10)

int

In [ ]:
# 2**31의(정수의 제곱) 자료형 확인하기

print(type(2**31))

print(type(2**40))

<class 'int'>
<class 'int'>

In [ ]:
# 변수에 값 저장 후, 변수를 이용해 자료형 확인하기(1)

a = 10
type(a)

int

In [ ]:
import sys
b = sys.maxsize   # 2**63-1
print(b)
type(b)

9223372036854775807

int

**2) 실수**

- 실수 : 소수점 이하를 갖는 수(=부동소수점)

- 파이썬 2.x 버전에서 정수와 정수의 연산 결과는 항상 정수형
- 파이썬 3.x 버전에서 정수와 정수의 연산 결과는 실수형이 될 수 있다(나눗셈의 경우)
- 지수 표현방식으로 표현 가능

In [ ]:
# 변수에 값 저장 후, 변수를 이용해 자료형 확인하기(2)

c = 3.5
type(c)

float

In [ ]:
# 정수와 정수 연산 결과인 실수형 확인하기(1)

print(3/2)
type(3/2)

1.5

float

In [ ]:
# 정수와 정수 연산 결과인 실수형 확인하기(2)

print(2/2)
type(2/2)

1.0

float

In [ ]:
# 지수 표현방식으로 실수 나타내기

1.23456e3

1234.56

**3) 복소수**

- 복소수 : 제곱해서 -1이 되는 허수를 포함하는 수


- 복소수 표현시 j 문자는 단독으로 사용될 수 없고, 앞에 숫자를 붙여야 한다

In [ ]:
# 변수에 값 저장 후, 변수를 이용해 자료형 확인하기(3)

d = 3 + 2j
type(d)

complex

In [ ]:
# 제곱하면 -1이 되는 복소수 성질 확인하기

d = 1j
print(d**2)

(-1+0j)

In [ ]:
# 복소수 표현 시, 단독 사용 불가한 j 확인하기(1) -> 오류 발생 "name 'j' is not defined"

d = 3 + j

NameError: ignored

In [ ]:
# 복소수 표현 시, 단독 사용 불가한 j 확인하기(2)

d = 3 + 1j
print(d)

(3+1j)

**4) 최근 표현식 변수**

- 최근 표현식 변수(_변수) : 정의하지 않아도 사용할 수 있는 특별한 변수

    - 마지막으로 인쇄된 표현식 결과가 저장된다
    - 앞에서 실행했던 수식의 결과를 다시 사용할 수 있다

In [ ]:
# _ 변수로 가장 마지막 인쇄된 결과 확인하기

a = 10
b = 20
a + b

30

In [ ]:
_

30

In [ ]:
# _ 변수를 활용해 이전의 표현식 a+b 결과값 재사용 하기

c = 100
print(c + _)   # print(c + (a+b)와 같음)

130

In [ ]:
# 이전 라인에서 출력 결과가 생기지 않은 경우 _ 변수 값 확인하기

c = 2+3+4
_   # a+b 결과 출력

30

In [ ]:
c = 2+3+4   # 출력 결과가 없는 코드

In [ ]:
_   # a+b 결과 출력

30

In [ ]:
c   # 출력 결과가 있는 코드

9

In [ ]:
_   # 직전에 출력한 c의 결과 출력

9

### **3.2 문자형**

**1) 문자형의 표현**

- 파이썬 문자열은 겹따옴표("")와 홑따옴표('')로 묶어서 사용

In [ ]:
# 곁따옴표와 홑따옴표를 사용한 문자열 출력하기

name = "JinKyoung"
address = '서울시 강남구'

print(name, address)

JinKyoung 서울시 강남구

**2) 여러 줄 문자 표현**

- 여러 줄의 문자열 작성시 겹따옴표 3개("""""") 또는 홑따옴표 3개('''''')를 사용
- 파이썬은 단일 문자와 문자열을 구분하지 않는다

In [ ]:
# 홑따옴표 3개를 사용한 주석 표현하기

text = '''이렇게 작성하면
줄 바꿈도 그대로 적용해서
여러 줄의 문자를 작성할 수 있습니다.'''

print(text)

이렇게 작성하면
줄 바꿈도 그대로 적용해서
여러 줄의 문자를 작성할 수 있습니다.

**3) 소스코드 줄 바꿈**

- 역슬래시(\) : 코드를 줄 바꿈 하겠다는 의미

In [ ]:
# 역슬래시 없이 물리적 줄 바꿈(enter키 입력) 시 발생하는 오류 확인하기

a = 1 + 2 + 3 +
4 + 5

SyntaxError: ignored

In [ ]:
# 역슬래시로 소스코드 줄 바꿈하기

a = 1 + 2 + 3 + \
4 + 5

**4) 탈출 문자escape character**

- 탈출 문자 : 문자열 내에서 역슬래시(\)와 같이 사용되어 특별한 의미를 갖는 문자
- print() 함수를 이용해 출력할 경우에 적용

    - \n : 줄바꿈
    - \t : 탭 (첫 문자 또는 이전 탭 위치에서 다음 8번째 문자 위치로 이동시킴)
    - \r : 리턴 (행의 첫 번째 문자 위치로 돌아옴)
    - \0 : 널null
    - \\ : 역슬래시(\) 문자열로 표시
    - \' : 홑따옴표(') 문자열로 표시
    - \" : 곁따옴표(") 문자열로 표시

In [ ]:
# 탈출문자 사용하기(1) \n

print("Hello\nWorld")

Hello
World

In [ ]:
# print() 함수를 사용하지 않은 탈출문자 출력결과 확인하기

hello_str = "Hello\nWorld"
hello_str

'Hello\nWorld'

In [ ]:
# 탈출문자 사용하기(2) \t

print("Hello\tWorld")

Hello	World

In [ ]:
# 탈출문자 사용하기(3) \r

print("HelloWorld\rNice")

Nice

In [ ]:
# 탈출문자 사용하기(4) \0

print("Hello\0World")

Hello World

In [ ]:
# 탈출문자 사용하기(5) \\

print("Hello\\World")

Hello\World

In [ ]:
# 탈출문자 사용하기(6) \' \"

print("Hello\'World")
print("Hello\"World")

Hello'World
Hello"World

In [ ]:
# 탈출문자 없이 곁/홑따옴표 출력하기

print("Hello'World")
print('Hello"World')

Hello'World
Hello"World

**5) 문자열 연결하기**

- 문자열 연결법 
    - 문자열 + 문자열
    - 문자열 공백 문자열

- 문자열 반복법
    - 문자열 * 숫자
        - 탈출문자도 반복 가능

In [ ]:
# 문자열 연결법(1) - 문자열 + 문자열

"Hello"+"Wolrd"

'HelloWolrd'

In [ ]:
# 문자열 연결법(2) - 문자열 공백 문자열

"Hello" "World"

'HelloWorld'

In [ ]:
# 문자열 반복(1) - 문자열 * 숫자

"Hello" * 2

'HelloHello'

In [ ]:
# 문자열 반복(2) - 탈출문자를 포함한 문자열 * 숫자 

print("\tHello" * 5)   # 공백 8칸째에 첫번째 Hello 생성 그 후로는 글자수 포함 공백 8칸

	Hello	Hello	Hello	Hello	Hello

**6) 문자열 인덱싱**

문자열 인덱싱 : 지정한 위치의 문자를 뽑아낼 수 있다

- 항상 0부터 시작
- 음수 -1은 맨 뒤의 문자 의미
- 인덱스를 벗어나는 참조는 오류 발생

In [ ]:
# 문자열 인덱싱(1) - 'Python' 문자열에서 인덱스 0이 가리키는 위치의 문자 뽑기

"Python"[0]   # 문자열이므로 "" 쓰는 것을 잊지말자, 생략 시 오류발생!

'P'

In [ ]:
# 문자열 인덱싱(2) - 'Python' 문자열에서 인덱스 -1이 가리키는 위치의 문자 뽑기

"Python"[-1]

'n'

In [ ]:
# 문자열 인덱싱(3) - 인덱스를 벗어나는 참조 오류 확인하기

"Python"[6]

IndexError: ignored

**7) 문자열 자르기 - [from : to]**

- 문자열 자르기 : 문자열[from : to] 형식으로 부분 문자열 추출이 가능하다
    - from 위치의 문자는 포함 / to 위치의 문자는 불포함
    - from : 
        - 부분 문자열을 뽑아낼 시작 인덱스
        - 양수 또는 음수 사용
        - 생략시 맨 처음 인덱스 자동 지정 [:m] : 처음부터 m 인덱스 위치 (m 제외)까지 추출

    - to : 부분 문자열을 뽑아낼 끝 인덱스
        - 양수 또는 음수 사용
        - 생략시 맨 마지막 인덱스보다 1 큰 위치의 인덱스가 자동으로 지정 [n:] : 처음부터 마지막까지 추출
        - to 인덱스는 불포함하기 때문

In [ ]:
# 변수에 문자열 지정하기

str_ = 'Python'   # 변수를 활용한 부분 문자열 추출도 가능

In [ ]:
# 문자열[from:to]로 추출하기(1) - 'Python' 전체 출력하기

print(str_[0:6])


# 또는

print(str_[0:])   # to 인덱스 불포함 -> 맨 마지막 문자까지 추출(이 경우 가장 마지막 인덱스의 문자도 포함)


# 또는

print(str_[:6])   # from 인덱스 불포함 -> 맨 처음 인덱스부터 추출


# 또는 

print(str_[:])   # from : to 모두 생략 -> 전체 문자열 그대로 반환

Python
Python
Python
Python

In [ ]:
# 문자열[from:to]로 추출하기(2) - 음수를 이용한 부분 문자열 추출

str_[-6:-1]   # 이 경우에도 to 위치의 요소는 포함되지 않는다

'Pytho'

In [ ]:
# 문자열[from:to]로 추출하기(3) - 음수를 이용한 부분 문자열 추출

str_[-6:]   # 음수를 이용해 맨 마지막까지 추출을 원할 경우 to 인덱스를 불포함하면 된다

'Python'

In [ ]:
# 문자열[from:to]로 추출하기(4) - 음수를 이용한 부분 문자열 추출

str_[:-1]   # 음수를 이용해 맨 처음부터 추출을 원할 경우 from 인덱스를 불포함하면 된다

'Pytho'

In [ ]:
# 문자열[from:to]로 추출하기(5) - 인덱스를 벗어나는 경우 결과 확인하기

str_[-1:-5]   # 인덱싱의 경우 문자열 인덱스를 벗어나면 오류가 발생하지만 슬라이싱은 문자열의 인덱스를 벗어나더라도 오류는 발생하지 않는다

''

**8) 문자열 자르기 - [from : to : by]**

- 문자열[from : to : by] : 매 by번째 아이템을 추출
- from, to, by는 생략될 수 있다
- 문자열뿐만 아니라 리스트, 튜플 등에서도 사용 가능

- by :
  - 음수를 가질 수 있다 : 문자열 역순 추출이 가능
  - by가 음수인 경우 to 인덱스는 from 인덱스에 비해 앞의 인덱스여야 한다

- from, to, by 모두 음수 지정이 가능하다

In [ ]:
# 문자열 자르기(1) - from, to를 생략한 자르기

'0123456789'[::2]

'02468'

In [ ]:
# 문자열 자르기(2) - from, to를 생략한 자르기

'0123456789'[::3]

'0369'

In [ ]:
# 문자열 자르기(3) - from, to를 생략한 자르기

'0123456789'[2:8:2]

'246'

In [ ]:
# 문자열 자르기(4) - by가 음수인 자르기

'0123456789'[9::-2]

'97531'

In [ ]:
# 문자열 자르기(5) - by가 음수인 자르기

'0123456789'[::-2]

'97531'

In [ ]:
# 문자열 자르기(6) - by가 음수인 자르기

'0123456789'[:0:-2]

'97531'

In [ ]:
# 문자열 자르기(7) - by가 음수인 자르기

'0123456789'[-1::-2]

'97531'

In [ ]:
# 문자열 자르기(8) - from, to, by가 모두 음수인 자르기

'0123456789'[-1:-10:-2]

'97531'

**9) raw 문자열**

- raw 문자열 : 
  - 문자열 앞에 r을 붙여 선언, r을 붙이면 역슬래시 문자를 해석하지 않고 남겨둔다
  - 탈출 문자를 사용하지 않고 역슬래시 등의 문자를 그대로 표현해서 사용 시 유용
  - 특히 정규표현식과 같은 곳에 유용


- 정규표현식
  - 패턴을 이용해 해당 패턴과 일치하는 문자열을 찾거나 위치를 알 수 있다

In [ ]:
# raw 문자열을 사용하지 않은 역슬래시 문자 출력하기

print("\n \t \r \\ \' \"")

 \ ' "

In [ ]:
# raw 문자열을 사용한 역슬래시 문자 출력하기

print(r"\n \t \r \\ \' \"")

\n \t \r \\ \' \"

In [ ]:
# 정규표현식으로 전화번호 형식을 갖는 문자열 찾기

import re

data = "이름:홍길동, 주소:서울시, 전화번호:010-2345-6789, 특징:동에번쩍서에번쩍"
phone_pattern = r'[\d]{3,4}-[\d]{4}-[\d]{4}'
phone = re.findall(phone_pattern, data)
print(phone)

['010-2345-6789']

**10) 문자열을 다루는 함수**

- split('delimiter') : 문자열을 구분문자delimiter로 잘라 리스트로 반환
  - 기본 구분자는 공백
  - 함수의 결과는 문자열을 갖는 리스트


- 'delimiter'.join(["str1", ...]) : 문자열 리스트를 구분문자delimiter로 연결
- capitalize() : 첫 문자를 대문자로, 나머지 문자를 소문자로 변환
- upper(), lower() : 문자열을 모두 대문자 또는 소문자로 변환
- startswith(), endswith() : 특정 문자로 시작하는지와 끝나는지를 식별해서 논리(True/False)값 반환
- find(), index() : 특정 문자의 인덱스 반환
- isalnum(), isalpha(), isnumeric(), isdecimal() : 해당 문자열이 숫자인지, 문자인지 판별
- replace(old, new) : old 문자를 new 문자로 치환

In [ ]:
# split() 함수를 사용한 문자열 나누기

temp = 'python is easy'
temp.split()

['python', 'is', 'easy']

In [ ]:
# split() 함수를 사용한 문자열 나누기

temp = 'python,java,R,SAS'
temp.split(',')

['python', 'java', 'R', 'SAS']

In [ ]:
# split() 함수를 사용해 나눈 결과(리스트) 확인하기

temp = 'python is easy'
temp = temp.split()
type(temp)

list

In [ ]:
# join() 함수로 문자열 연결하기

temp3 = ['python', 'java', 'R', 'SAS']
','.join(temp3)

'python,java,R,SAS'

In [ ]:
# 대/소문자 변환하기(1) - caplitalize() 함수로 첫문자를 대문자, 나머지를 소문자 변환

"helloworld".capitalize()

'Helloworld'

In [ ]:
# 대/소문자 변환하기(2) - upper() 함수로 대문자 변환

"helloworld".upper()

'HELLOWORLD'

In [ ]:
# 대/소문자 변환하기(3) - lower() 함수로 소문자 변환

'HELLOWORLD'.lower()

'helloworld'

In [ ]:
# 특정 문자의 위치 찾기 - find() 함수

print("helloworld".find('w'))

print("helloworld".find('o'))   # 첫번째로 나오는 o의 인덱스만 출력

print("helloworld".find('z'))   # 존재하지 않는 요소는 -1 출력

5
4
-1

In [ ]:
# 문자열 내용 확인하기(1) - 내용이 숫자로 이루어졌는지 확인하기

print("1234567890".isnumeric())   # 큰따옴표 안에 넣었는데도 숫자로 인식하는 이유가 궁금
print("1234567890".isalpha())

True
False

In [ ]:
# 문자열 내용 확인하기(2) - 내용이 알파벳으로 이루어졌는지 확인하기

print("helloworld".isalpha())
print("helloworld".isnumeric())

True
False

In [ ]:
# replace() 함수를 사용하여 부분 문자열 대체하기

"helloworld".replace("hello", 'nice')

'niceworld'

In [ ]:
# 문자열을 다루는 함수들의 목록 출력하기

dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### **3.3 논리형 bool type**

파이썬 논리형 : True or False

- true or TRUE 논리값으로 사용할 수 없음

In [ ]:
# 파이썬 논리형 True(1)

a = True
print(type(a))

<class 'bool'>

In [ ]:
# 파이썬 논리형 True(2) - true / TRUE 오류 발생 확인하기

a = true

NameError: ignored

**1) False인 경우**

- 정수형 0, 실수 0.0, 복소수 0+0j 인 경우
- 문자열이 널스트링('' 또는 "")인 경우
- None
- False
- 빈 튜플 또는 리스트, 딕셔너리 ex (), [], {}

- 숫자가 0이 아니거나 문자열이 널스트링이 아니면 True

In [ ]:
# False인 경우(1) - None

if None:
  print(True)
else:
  print(False)

False

In [ ]:
# False인 경우(2) - 0으로 판별되는 것

if 0:
  print(True)
else:
  print(False)


if 0.0:
  print(True)
else:
  print(False)

if 0+0j:
  print(True)
else:
  print(False)

False
False
False

In [ ]:
# False인 경우(3) - 널스트링

if '':
  print(True)
else:
  print(False)

False

**2) True인 경우**

- False인 경우를 제외한 모든 경우

In [ ]:
# True인 경우

b = 3
if b:
  print(True)

True

In [ ]:
# True인 경우(2) - 널 문자('\0')와 공백 문자(' ')

if '\0':
  print(True)
else:
  print(False)

if ' ':
  print(True)
else:
  print(False)

True
True

In [ ]:
# bool() 함수를 이용해 True/False 알아보기

bool(0), bool(10)   # bool() 함수는 1개 자료를 논리형으로 변환 -> 여러개를 변환하는 함수도 있을까?

(False, True)

### **3.4 자료형 확인 및 변환**

- type() : 자료형 확인
- int() : 정수형으로 변환
- float() : 실수형으로 변환
- str() : 문자형으로 변환
- bool() : 논리형으로 변환

**1) type()**

- type() 함수는 1개 자료의 자료형을 확인한다

In [ ]:
# type() 함수로 자료형 확인하기

type(120), type(2147483648), type(3.141592), type(1.23456e3), type('hello'), type("HelloWorld"), type(True), type(False)

(int, int, float, float, str, str, bool, bool)

**2) int()**

- int() 함수는 1개 자료를 정수형으로 변환한다
- 실수형, 논리형 자료를 정수형으로 변환
    - 실수형 -> 정수형 변환시 : 소수점 이하 값은 반올림되지 않고 사라진다
    - 논리형 -> 정수형 변환시 : True = 1, False = 0으로 변환된다


- 정수 형태의 문자열인 경우 정수형으로 변환 가능
- 알파벳을 포함하거나 정수 이외의 문자를 포함하는 문자는 정수로 변환할 수 없다

In [38]:
# int() 함수로 정수형 변환하기(1) - 실수형을 정수형으로 변환하기

int(3.14), int(3.6)   # 반올림 되지 않는다

(3, 3)

In [40]:
# int() 함수로 정수형 변환하기(2) - 논리형을 정수형으로 변환하기

int(True), int(False)

(1, 0)

In [41]:
# int() 함수로 정수형 변환하기(3) - 정수 문자열을 정수형으로 변환하기

int('12345')

12345

In [42]:
# int() 함수로 정수형 변환하기(4) - 정수 문자열이 아닌 문자열 정수형 변환시 오류 확인하기

int('123.45')

ValueError: ignored

**3) float**

- float() 함수는 1개 자료를 실수형으로 변환한다
- 정수형, 논리형 자료 실수형 변환 가능
    - 지수 표현식을 사용한 값은 실수형이므로 숫자 자료형 변환시 float() 사용

In [43]:
# float() 함수로 실수형 변환하기(1) - 정수형을 실수형으로 변환하기

float(100)

100.0

In [44]:
# float() 함수로 실수형 변환하기(2) - 논리형을 실수형으로 변환하기

float(True), float(False)

(1.0, 0.0)

In [2]:
# float() 함수로 실수형 변환하기(3) - 정수 문자열 또는 실수 문자열을 실수형으로 변환하기

float('314'), float('3.141592')

(314.0, 3.141592)

In [3]:
# float() 함수로 실수형 변환하기(4) - 문자열을 실수형으로 변환시 오류 발생 확인하기

float('True')

ValueError: ignored

**4) str()**

- str() 함수는 1개 자료를 문자열로 변환한다
- 정수형, 실수형, 논리형 모두 문자열로 변환 가능
- 지수표현식으로 된 숫자는 일반표현식으로 바꾸고 문자열로 변환한다

In [4]:
# str() 함수로 문자형 변환하기(1) - 정수형을 문자형으로 변환하기

str(100)

'100'

In [5]:
# str() 함수로 문자형 변환하기(2) - 실수형을 문자형으로 변환하기

str(3.14)

'3.14'

In [6]:
# str() 함수로 문자형 변환하기(3) - 논리형을 문자형으로 변환하기

str(True)

'True'

In [7]:
# str() 함수로 문자형 변환하기(4) - 지수표현식 숫자를 문자형으로 변환하기

str(1.23e4)

'12300.0'

**5) bool()**

- bool() 함수는 1개 자료를 논리형으로 변환한다
- 모든 자료를 논리형으로 변환 가능
- False : 0, 0.0, 0+0j, '', "", None


- eval() 함수 : 문자열로 전달한 수식을 평가해 실행, 타입이 정확하지 않을 경우 사용한다

In [8]:
# bool() 함수로 논리형 변환하기(1) - False의 경우

bool(0), bool(0.0), bool('')

(False, False, False)

In [9]:
# 함수로 논리형 변환하기(1) - True의 경우

bool(10), bool(3.6), bool('hello')

(True, True, True)