<a href="https://colab.research.google.com/github/circlenose/the_python_programming-bookk-/blob/main/02_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC_%EC%97%B0%EC%82%B0%EC%9E%90_3%EC%A0%88_%EA%B8%B0%EB%B3%B8_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 3절. 기본 자료형

- 자료형data type : 프로그래밍 언어에서 정수int, 실수float, 논리bool 등 여러 유형의 자료 중에서 어떤 유형의 값을 가질 수 있는지에 대해 알려주는 속성
- 자료형으로 인해 변수에 저장할 수 있는 값의 범위(또는 크기)와 값을 저장하는 방식, 해당 자료형을 이용해 수행할 수 있는 명령들이이 달라짐
- 파이썬은 자료형 개념을 포함하고 있으나, 변수 선언 시 자료형을 지정하는 키워드가 존재하지 않음
- 파이썬 기본 자료형 : 숫자형 / 문자형 / 논리형

### 3.1 숫자형

- 파이썬 숫자형 :
    - 정수int : 소수점이 없는 숫자, 3.x 버전에서는 2.x 버전에 있었던 long 형이 없어지고 모든 정수를 int형으로 인식
    - 실수float : 소수점이 있는 숫자
    - 복소수complex : 제곱해서 -1이 되는 허수를 포함, 허수 표현을 위해 문자 j 사용

**1) 정수**

- 정수 수 체계 :
    - 양의 정수
    - 0
    - 음의 정수

In [1]:
# 파이썬 3.x 버전에서 8바이트(64비트)로 양의 정수 저장시 최댓값 확인하기

import sys
sys.maxsize

9223372036854775807

In [2]:
# sys.maxsize의 자료형 확인하기

type(sys.maxsize)

int

In [3]:
# sys.maxsize+1의 자료형 확인하기

type(sys.maxsize+1)

int

In [4]:
# 정수 10의 자료형 확인하기

type(10)

int

In [7]:
# 2**31의(정수의 제곱) 자료형 확인하기

print(type(2**31))

print(type(2**40))

<class 'int'>
<class 'int'>

In [8]:
# 변수에 값 저장 후, 변수를 이용해 자료형 확인하기(1)

a = 10
type(a)

int

In [10]:
import sys
b = sys.maxsize   # 2**63-1
print(b)
type(b)

9223372036854775807

int

**2) 실수**

- 실수 : 소수점 이하를 갖는 수(=부동소수점)

- 파이썬 2.x 버전에서 정수와 정수의 연산 결과는 항상 정수형
- 파이썬 3.x 버전에서 정수와 정수의 연산 결과는 실수형이 될 수 있다(나눗셈의 경우)
- 지수 표현방식으로 표현 가능

In [11]:
# 변수에 값 저장 후, 변수를 이용해 자료형 확인하기(2)

c = 3.5
type(c)

float

In [18]:
# 정수와 정수 연산 결과인 실수형 확인하기(1)

print(3/2)
type(3/2)

1.5

float

In [17]:
# 정수와 정수 연산 결과인 실수형 확인하기(2)

print(2/2)
type(2/2)

1.0

float

In [19]:
# 지수 표현방식으로 실수 나타내기

1.23456e3

1234.56

**3) 복소수**

- 복소수 : 제곱해서 -1이 되는 허수를 포함하는 수


- 복소수 표현시 j 문자는 단독으로 사용될 수 없고, 앞에 숫자를 붙여야 한다

In [20]:
# 변수에 값 저장 후, 변수를 이용해 자료형 확인하기(3)

d = 3 + 2j
type(d)

complex

In [22]:
# 제곱하면 -1이 되는 복소수 성질 확인하기

d = 1j
print(d**2)

(-1+0j)

In [23]:
# 복소수 표현 시, 단독 사용 불가한 j 확인하기(1) -> 오류 발생 "name 'j' is not defined"

d = 3 + j

NameError: ignored

In [26]:
# 복소수 표현 시, 단독 사용 불가한 j 확인하기(2)

d = 3 + 1j
print(d)

(3+1j)

**4) 최근 표현식 변수**

- 최근 표현식 변수(_변수) : 정의하지 않아도 사용할 수 있는 특별한 변수

    - 마지막으로 인쇄된 표현식 결과가 저장된다
    - 앞에서 실행했던 수식의 결과를 다시 사용할 수 있다

In [30]:
# _ 변수로 가장 마지막 인쇄된 결과 확인하기

a = 10
b = 20
a + b

30

In [31]:
_

30

In [32]:
# _ 변수를 활용해 이전의 표현식 a+b 결과값 재사용 하기

c = 100
print(c + _)   # print(c + (a+b)와 같음)

130

In [33]:
# 이전 라인에서 출력 결과가 생기지 않은 경우 _ 변수 값 확인하기

c = 2+3+4
_   # a+b 결과 출력

30

In [35]:
c = 2+3+4   # 출력 결과가 없는 코드

In [36]:
_   # a+b 결과 출력

30

In [37]:
c   # 출력 결과가 있는 코드

9

In [38]:
_   # 직전에 출력한 c의 결과 출력

9

### 3.2 문자형

**1) 문자형의 표현**

- 파이썬 문자열은 겹따옴표("")와 홑따옴표('')로 묶어서 사용

In [39]:
# 곁따옴표와 홑따옴표를 사용한 문자열 출력하기

name = "JinKyoung"
address = '서울시 강남구'

print(name, address)

JinKyoung 서울시 강남구

**2) 여러 줄 문자 표현**

- 여러 줄의 문자열 작성시 겹따옴표 3개("""""") 또는 홑따옴표 3개('''''')를 사용
- 파이썬은 단일 문자와 문자열을 구분하지 않는다

In [41]:
# 홑따옴표 3개를 사용한 주석 표현하기

text = '''이렇게 작성하면
줄 바꿈도 그대로 적용해서
여러 줄의 문자를 작성할 수 있습니다.'''

print(text)

이렇게 작성하면
줄 바꿈도 그대로 적용해서
여러 줄의 문자를 작성할 수 있습니다.

**3) 소스코드 줄 바꿈**

- 역슬래시(\) : 코드를 줄 바꿈 하겠다는 의미

In [43]:
# 역슬래시 없이 물리적 줄 바꿈(enter키 입력) 시 발생하는 오류 확인하기

a = 1 + 2 + 3 +
4 + 5

SyntaxError: ignored

In [44]:
# 역슬래시로 소스코드 줄 바꿈하기

a = 1 + 2 + 3 + \
4 + 5

**4) 탈출 문자escape character**

- 탈출 문자 : 문자열 내에서 역슬래시(\)와 같이 사용되어 특별한 의미를 갖는 문자
- print() 함수를 이용해 출력할 경우에 적용

    - \n : 줄바꿈
    - \t : 탭 (첫 문자 또는 이전 탭 위치에서 다음 8번째 문자 위치로 이동시킴)
    - \r : 리턴 (행의 첫 번째 문자 위치로 돌아옴)
    - \0 : 널null
    - \\ : 역슬래시(\) 문자열로 표시
    - \' : 홑따옴표(') 문자열로 표시
    - \" : 곁따옴표(") 문자열로 표시

In [45]:
# 탈출문자 사용하기(1) \n

print("Hello\nWorld")

Hello
World

In [48]:
# print() 함수를 사용하지 않은 탈출문자 출력결과 확인하기

hello_str = "Hello\nWorld"
hello_str

'Hello\nWorld'

In [52]:
# 탈출문자 사용하기(2) \t

print("Hello\tWorld")

Hello	World

In [53]:
# 탈출문자 사용하기(3) \r

print("HelloWorld\rNice")

Nice

In [55]:
# 탈출문자 사용하기(4) \0

print("Hello\0World")

Hello World

In [56]:
# 탈출문자 사용하기(5) \\

print("Hello\\World")

Hello\World

In [58]:
# 탈출문자 사용하기(6) \' \"

print("Hello\'World")
print("Hello\"World")

Hello'World
Hello"World

In [59]:
# 탈출문자 없이 곁/홑따옴표 출력하기

print("Hello'World")
print('Hello"World')

Hello'World
Hello"World